* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    max-width: 520px;
    width: 100%;
    height: 980px;
    background: #fff;
    /* background: linear-gradient(-380deg,#ffffff, #ff7a18); */
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    padding: 0;
}

.ar {
    height: 40%;
    background: url(../img/franja-naranja.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.ab {
    position: relative;
    height: 60%;
    box-shadow: inset 0px 400px 100px #ffffff;
}

.bg {
    bottom: 0;
    left: 0;
    background:
        url('../img//FONDO\ 1.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.buttons {
    position: relative;
    z-index: 99;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    border-top: 6px #d8d8d862 solid;
    border-left: 6px #d8d8d862 solid;
    border-right: 6px #d8d8d862 solid;
    margin: 1rem 1rem 0 1rem;
}

/* CREDENTIALS */
.credentials {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    justify-items: center;
}

.credentials p span {
    color: #ff7a18;
    text-shadow: 1px 10px 100px #fff;
}

/* HEADER */
.header {
    /* background: linear-gradient(-35deg, #ff7a18, #ffffff); */
    color: #000;
    text-align: center;
    padding: 40px 0; 
    position: relative;
    gap: 0;
}
.header h1,
.header p {
    margin: .5rem;
}


.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100px;
    margin-bottom: 10px;
}

.avatar-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    margin: 20px auto;
    background: radial-gradient(circle, #ffffff ,80%, #ff7a18 ); 
    /* background: linear-gradient(650deg, #ffffff, #ff7a18); */
    box-shadow: 1px 1px 10px #ff781841;
}

.avatar {
    width: 100%;
    object-fit: cover;
}

.links-red {
    position: absolute;
    height: 50px;
    top: 200px;
    width: 60%;
    left: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 100%;
    padding: .5rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 1px 5px 8px #00000073;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.icon-link {
    width: 30px;
    object-fit: contain;
}
.role {
    opacity: 0.9;
    font-weight: 600;
}
.role {
    position: relative;
    display: inline-block;
    padding: 0 22px;
    font-weight: 600;
    color: #000;
}

/* Línea izquierda */
.role::before,
.role::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        #ff7a18,
        #ffd194
    );
    transform: translateY(-50%);
    box-shadow:
        0 0 6px rgba(255, 122, 24, 0.8),
        0 0 14px rgba(255, 122, 24, 0.5);
    opacity: 0.9;
}

/* Izquierda */
.role::before {
    left: -45px;
}

/* Derecha (invertido) */
.role::after {
    right: -45px;
    transform: translateY(-50%) scaleX(-1);
}

.slogan {
    font-size: 1rem;
    font-weight: 600;
}

/* CTA */
.cta {
    margin: 10px;
    padding: 4px;
}

.btn-whatsapp {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background: #ff7a18;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(255, 122, 24, 0.4);
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.btn-whatsapp .text {
    font-size: 1.2rem;
}

.cta {
    position: relative;
    z-index: 1;
}

.cta::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: 50px;
    background: linear-gradient(45deg, #ff7a18, #FFE600, #ff7a18);
    z-index: -1;
    filter: blur(1px);
    opacity: 0.8;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-filter: blur(1px);
}

@keyframes neonMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.cta::before {
    background-size: 200% 200%;
    animation: neonMove 4s linear infinite;
    -webkit-animation: neonMove 4s linear infinite;
}



/* ACTIONS */
.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding: 20px;
}

.action-btn {
    display: flex;
    align-items: center;
    height: 4.5rem;
    gap: 10px;
    padding: 14px;
    border-radius: 16px;
    border: none;
    background: #f8f8f8;
    cursor: pointer;
    font-weight: 500;
    box-shadow: inset 0 0 0 1px #e0e0e0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.action-btn:hover {
    background: #fff;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.btn-whatsapp:hover {
    background: #0000001e;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.action-btn .icon {
    font-size: 20px;
    background-color: rgb(255, 253, 253);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 10px;
    border: 1px #99999975 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn .text {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

.icon-img {
    width: 2rem;
    height: 2rem;
}


/* ===============================
   RESPONSIVE MOBILE
   =============================== */
@media (max-width: 768px) {

    body {
        padding: 10px;
        align-items: flex-start;
    }

    .card {
        max-width: 100%;
        height: auto;
        border-radius: 18px;
    }

    /* Secciones */
    .ab {
        margin: 0;
        padding: 0;
        box-shadow: inset 0px 280px 80px #ffffff;
    }

    /* HEADER */
    .header {
        padding: 20px 15px 40px;
    }

    .logo {
        width: 80px;
        top: 10px;
        left: 10px;
    }

    .avatar-container {
        width: 140px;
        height: 140px;
        margin: 10px auto;
    }

    .role {
        font-size: 0.95rem;
    }

    .slogan {
        font-size: 0.95rem;
        margin-top: 10px;
    }

    /* BOTÓN WHATSAPP */
    .btn-whatsapp {
        padding: 12px;
        
    }
    .btn-whatsapp .text {
        font-size: 1rem;
    }

    .buttons {
        margin: 0 1rem;
    }

    /* ACTIONS */
    .actions {
        gap: 12px;
        padding: 15px;
    }

    .action-btn {
        padding: 8px;
        border-radius: 14px;
        height: 2.5rem;
    }

    .action-btn .icon {
        padding: 8px;
        width: 1.5rem;
        height: 1.5rem;
    }

    .action-btn .icon-img {
        width: 1rem;
    }

    .action-btn .text {
        font-size: .7rem;
    }

    /* CREDENTIALS */
    .credentials {
        height: 200px;
        font-size: 0.95rem;
        text-align: center;
        text-shadow: 0 0 2px #ffffff;
    }

    /* IMÁGENES */
    .icon-img {
        width: 1.8rem;
        height: 1.8rem;
    }

    /* BOX ACTION */
    .box-action {
        padding: 1.5rem;
        background-size: cover;
    }
     /* Redes sociales */
    .links-red {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        margin: 8px auto 6px;
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .link {
        padding: 0.45rem;
    }

    .icon-link {
        width: 26px;
    }

    /* Ajuste header spacing */
    .header {
        padding-bottom: 20px;
    }
}