@font-face {
  font-family: 'Axiforma';
  src: url('../fonts/Axiforma-Bold.woff2') format('woff2'),
       url('../fonts/Axiforma-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 20px;
<<<<<<< HEAD
    font-family: 'Axiforma', sans-serif;
=======

    
>>>>>>> 27c1e22406808286d4049ce29e9b15e1436ab598
}

.card {
    max-width: 520px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    padding: 0;
    margin: 0;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}



.ar {
    position: relative;
    background: url(../img/IMG-1.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 140px;

}

.box-video {
    background: red;
    justify-content: center;
    align-content: center;
}



/* HEADER */
.header {
    /* background: linear-gradient(-35deg, #ff7a18, #ffffff); */
    color: #000;
    text-align: center;
    position: relative;
}
.header h1,
.header .role {
    margin: 0;
}

.avatar-container {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #ff7a18;
    overflow: hidden;
    padding: 1.5rem;
    box-shadow: 1px 1px 10px #ff781841;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    outline: 4px solid rgb(255, 255, 255);
    
}

.avatar {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.links-red {
    position: absolute;
    height: 50px;
    width: 60%;
    left: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 100%;
    padding: .5rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 1px 5px 8px #00000073;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.icon-link {
    width: 30px;
    object-fit: contain;
}
.role {
    opacity: 0.6;
    font-weight: 600;
    font-style: italic;
}
.role {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #000;
}

.slogan {
    font-size: 1rem;
    font-weight: 400;
}

.btn-info {
  position: relative;
  color: #ff7a18;
  font-size: 1rem;
  font-weight: 700;
  width: 40%;
  padding: 2px 24px;
  background: rgba(255, 255, 255, 0.247);
  border: none;
  /* border-radius: 12px; */
  cursor: pointer;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

/* brillo superior */
.btn-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 60%;
  right: 10%;
  height: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.9),
    transparent
  );
}

/* brillo inferior */
.btn-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 60%;
  height: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.4),
    transparent
  );
}

.video-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.video-container video {
    margin: 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bg {
    position: relative;
}

.buttons {
    position: relative;
}

/* CREDENTIALS */
.credentials {
    position: relative;
    font-size: .6rem;
    font-weight: 400;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.credentials p {
    text-shadow: 1px 10px 100px #fff;
}
/* CTA */
.cta {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #ff7a18;
    color: white;
    font-weight: bold;
    border-radius: 0 20px 0 20px;
    -webkit-border-radius: 0 20px 0 20px;
    -moz-border-radius: 0 20px 0 20px;
    -ms-border-radius: 0 20px 0 20px;
    -o-border-radius: 0 20px 0 20px;
}

.btn-whatsapp .text {
    font-size: 1.4rem !important;
    font-weight: 700;
}

.cta {
    position: relative;
    z-index: 1;
}

/* ACTIONS */
.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px;
    border-radius: 16px;
    border: 2px solid #ff7a18;
    background: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-style: italic;
    box-shadow:  1px 3px 1px #0000004d;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.action-btn:hover {
    background: #fff;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}


.action-btn .icon {
    background-color: #ff7a18;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 1px #99999975 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn .text {
    text-align: start;
    font-size: .9rem !important;
    color: #333;
    font-weight: bold;
}

.icon-img {
    object-fit: contain;
}

.btn-plus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

.btn-bussines {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: linear-gradient(-85deg,#ffffff, 4%, #ff7a18);
    transition: all 0.2s ease-in-out;
    width: 100%;
    gap: .5rem;
}
.btn-bussines:hover {
    background: #c55200;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.text-bussines {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
}

.icon-bussines {
    display: flex;
    align-items: center;
}

.icon-bussines .img-bussines {
    object-fit: cover;
}

.back {
    position: absolute;
    z-index: 0;
    height: 600px;
    width: 90%;
    background: url(../img/FONDO.jpg) ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}
/* ===============================
   RESPONSIVE MOBILE
   =============================== */
@media (max-width: 768px) {

    body {
        padding: 10px;
        align-items: flex-start;
    }

    .card {
        max-width: 100%;
        height: auto;
        border-radius: 18px;
    }

    /* Secciones */
    .ab {
<<<<<<< HEAD
        margin: 0;
        padding: 0;
        box-shadow: inset 0px 300px 80px #ffffff;
=======
        position: relative;
>>>>>>> 27c1e22406808286d4049ce29e9b15e1436ab598
    }

    /* HEADER */
    .header {
        position: relative;
        padding: 20px 15px 40px;
    }

    .avatar-container {
        width: 160px;
        height: 160px;
        margin: auto;
        margin-bottom: 1rem;
    }

    h1 {
        color: #ff7a18;
    }
    .role {
        font-size: 0.95rem;
        
    }

    .slogan {
        font-size: 0.7rem;
        margin-top: 10px;
    }

    /* BOTÓN WHATSAPP */
    .btn-whatsapp {
        padding: 12px;
        
    }
    .btn-whatsapp .text {
        font-size: 1rem;
    }

    .buttons {
        margin: 0 1rem;
    }

    /* ACTIONS */
    .actions {
        gap: 12px;
        padding: 15px;
    }

    .action-btn {
        padding: 8px;
        border-radius: 14px;
        height: 3rem;
    }

    .action-btn .icon {
        padding: 8px;
        width: 2rem;
        height: 2rem;
    }

    .action-btn .icon-img {
        width: 1.8rem;
    }

    .action-btn .text {
        font-size: .7rem;
    }

    /* CREDENTIALS */

    .credentials {
<<<<<<< HEAD
        height: 240px;
        font-size: 0.95rem;
=======
        font-size: 0.6rem;
>>>>>>> 27c1e22406808286d4049ce29e9b15e1436ab598
        text-align: center;
        text-shadow: 0 0 2px #ffffff;
    }

    .icon-map {
        height: 1rem;
    }
    /* IMÁGENES */
    .icon-img {
        width: 2rem;
        height: 2rem;
    }
    .icon-bussines .img-bussines {
        height: 1.5rem;
        width: 1.5rem;
    }
    /* BOX ACTION */
    .box-action {
        padding: 1.5rem;
        background-size: cover;
    }
     /* Redes sociales */
    .links-red {
        position: absolute;
        top: 140px;
        left: 0px;
        width: 100%;
        margin: 8px auto;
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .link {
        padding: 0.45rem;
    }

    .icon-link {
        width: 26px;
    }

    /* Ajuste header spacing */
    .header {
        padding-bottom: 20px;
    }

    .isla {
    background: #ff7a18;
    height: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px  20px 0 0 ;
    -webkit-border-radius: 20px  20px 0 0 ;
    -moz-border-radius: 20px  20px 0 0 ;
    -ms-border-radius: 20px  20px 0 0 ;
    -o-border-radius: 20px  20px 0 0 ;
}
}