* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    max-width: 520px;
    width: 100%;
    height: 900px;
    background: #fff;
    /* background: linear-gradient(-380deg,#ffffff, #ff7a18); */
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    padding: 0;
}
.ar{
    height: 40%;
    background: url(../img/franja-naranja.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.ab{
    position: relative;
    height: 60%;
    box-shadow: inset 0px 400px 100px #ffffff;
}
.bg {
    bottom: 0;
    left: 0;
    background:
    url('https://cdn-3.expansion.mx/dims4/default/0fa6a34/2147483647/strip/true/crop/1254x836+0+0/resize/1800x1200!/format/webp/quality/80/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F6e%2F11%2F637687f94bbeb55715f3baf030cb%2Fregreso-oficina.jpg') ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.buttons {
    position: relative;
    z-index: 99;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    border-top: 6px #d8d8d862 solid;
    border-left: 6px #d8d8d862 solid;
    border-right: 6px #d8d8d862 solid;
    margin: 1rem 1rem 0 1rem;
}

/* CREDENTIALS */
.credentials {
    position: relative;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    justify-items: center;
}

.credentials p span {
    color: #ff7a18;
    text-shadow: 1px 10px 100px #fff;
}
/* HEADER */
.header {
    /* background: linear-gradient(-35deg, #ff7a18, #ffffff); */
    color: #000;
    text-align: center;
    padding: 30px 20px 60px;
    position: relative;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100px;
    margin-bottom: 10px;
}

.avatar-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    margin: 20px auto;
    /* background: radial-gradient(circle, #ffffff ,80%, #ff7a18 );  */
    background: linear-gradient(650deg,#ffffff , #ff7a18);
    box-shadow: 1px 1px 10px #ff781841;
}

.avatar {
    width: 100%;
    object-fit: cover;
}

.role {
    opacity: 0.9;
    margin-top: 5px;
    font-weight: 600;
}

.slogan {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.box-action {
    background: url(https://images.squarespace-cdn.com/content/v1/64e7eae5713d422746cdb254/9a0e9a08-61f1-4e47-a8ee-c39e1f09c6ea/oficina-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem;

}


/* CTA */
.cta {
    padding: 20px;
}

.btn-whatsapp {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background: #ff7a18;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(255, 122, 24, 0.4);
}

.btn-whatsapp .text {
    font-size: 1.2rem;
}

/* ACTIONS */
.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding: 20px;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px;
    border-radius: 16px;
    border: none;
    background: #f8f8f8;
    cursor: pointer;
    font-weight: 500;
    box-shadow: inset 0 0 0 1px #e0e0e0;
    transition: all 0.2s ease;
}

.action-btn:hover {
    background: #fff;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}
.btn-whatsapp:hover {
    background: #d8d8d862;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    color: green;
}

.action-btn .icon {
    font-size: 20px;
    background-color: rgb(255, 253, 253);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 10px;
    border: 1px #99999975 solid;
}

.action-btn .text {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

.icon-img {
    width: 2rem;
    height: 2rem;
}


